NODE_ENV=development
PORT=8081
KAFKA_BROKERS=localhost:9092
FRONTEND_ORIGIN=http://localhost:3000
CLOUD_STORAGE_BUCKET_NAME=
CLOUD_STORAGE_ACCOUNT_ID=
CLOUD_STORAGE_ACCESS_KEY_ID=
CLOUD_STORAGE_SECRET_ACCESS_KEY=

